:root {
--main-bg-color: #FFFFFF;
--sec-bg-color: #FFFFF9;
--accent-color: #FEF3E4;

--details-color: #AB816C;
--main-icons-color: #2E2520;
--sec-icons-color: #674D40;

--main-text-color: #2E2520;
--sec-text-color: #000000;
--button-text-color: #FFFFFF;
}

body {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.title {
    font-family: 'Caveat Brush', serif;
    font-size: 24px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    margin: 0;
    text-decoration: none;
}

.header {
    position: relative;
}

.logo {
    width: 96px;
    height: 44px;
}

.logo__menu {
    width: 190px;
    height: 85px;
}

.menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    background-color: rgba(254, 243, 228, 0.9);
    padding: 25px 0px 0px 0px;
    
    transform: translate(-100%, 0px);
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    overflow: auto;
}

.menu-container.is-open {
    transform: translate(0px, 0px);
}

.menu-button {
    position: absolute;
    z-index: 2;
    top: 16px;
    right: 20px;
    
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.menu-button.is-open {
    top: 20px;
    
}

.menu-button__icon--size {
    width: 30px;
    height: 16px;
}

.menu-button.is-open .menu-button__icon--size {
    width: 18px;
    height: 18px;
}


.menu-button__icon--close {
    transform: scale(0);
    transition-property: transform;
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button.is-open .menu-button__icon--close {
    display: block;
    transform: scale(1);
}


.menu-button .menu-button__icon--open {
   
    transform: scale(1);
    transition-property: transform;
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button.is-open .menu-button__icon--open {
    transform: scale(0);
}